NETWORK=testnet # network to use (mainnet, testnet, devnet, localnet)
PACKAGE_ID= # package ID of the contract
PARENT_OBJECT_ID= # parent object ID for derived objects
DERIVED_STRUCT_KEY_SIGNATURE="DerivedObjectStructKey(address)" # signature of the key for the derived struct objects (e.g. "DerivedObjectStructKey(address)")
