# Network 
NETWORK=testnet # network to use (mainnet, testnet, devnet, localnet)

# Packages and Objects IDs
PACKAGE_ID=0x917859d496a3c2c18539f015833fa9d12ed0e47eb00ad324132fc05d56fdfdae # package ID of the contract
PARENT_OBJECT_ID=0xd54d005a2db7f0e43c32fad151c6d0ea7d5d81a43cf2e7456ed54489e612de30 # parent object ID for derived objects

# Secret Keys
USER_SECRET_KEY= # secret key of the account that will be used to interact with the blockchain

# Other
# type name of the key struct, without positional argument, for derived struct objects (e.g. "DerivedObjectStructKey")
DERIVED_STRUCT_KEY_SIGNATURE="DerivedObjectStructKey" 
